.halfwidth {
    width: 50vw;
    height: 100vw;
}

.fullwide {
    width: 100%;
}

.screenwidth {
    width: 95vw;
}

.screenheight {
    height: 100vh;
}

body {
	height: 100%;
}

.fullHeight {
	height: 100%;
}

#managerView table {
    margin-left: auto;
    margin-right: auto;
}

#managerView {
    /*height: 30vh;*/
}


#inputHalf table tr td{
	height: 50vh;
}


textarea {
	height: 100%;
}